@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
:root {
  --background: #0f0e17;
  --primary: #5928e5;
  --secundary: #f25f4c;
  --tertiary: #e53170;
  --button-background: #ff8906;
  --white: #ffffff;
  --black: #000000;
  --paragraph: #a7a9be;
  --button-hover: #fed9da;
}
a,
[type="button"]:hover {
  cursor: pointer;
}
[type="button"]:hover {
  background-color: var(--button-hover);
}
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: unset;
  padding: unset;
  font-family: Lora;
}
main #container-main {
  /* max-width: 1366px; */
  display: flex;
  height: 622px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 72px;
}

header {
  background-color: var(--background);
}
nav {
  display: flex;
  color: var(--white);
  background-color: var(--background);
  padding: 0px 72px;
  justify-content: space-between;
}
nav input {
  align-self: center;
}
.container-nav {
  display: flex;
}

footer {
  background-color: var(--black);
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--white);
}
#container-footer,
#container-services,
#container-projects {
  display: flex;
  justify-content: space-between;
  padding: 40px 72px;
}

#container-services,
#container-projects {
  flex-direction: column;
}

#sub-container-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#sub-container-projects p {
  font-size: 24px;
  line-height: 40px;
  width: 495px;
}
#sub-container-projects h2 {
  width: 519px;
  line-height: 56px;
  font-size: 48px;
}
/* margins */
.mb-15 {
  margin-bottom: 15px;
}
/*  */
.first-project {
  width: 1198px;
  height: 540px;
}

.other-projects {
  width: 598px;
  height: 464px;
}
.first-project .background,
.other-projects .background {
  z-index: -1;
  position: absolute;
  margin-left: 20px;
  margin-right: 0px;
}
.container-other-projects {
  display: inline-flex;
  justify-content: space-between;
}

.alert-message {
  background-color: var(--background);
  color: var(--white);
  padding: 18px;
  z-index: 1;
  margin-block: 100px;
}

.alert-w-large {
  width: 623px;
  height: 388px;
}
.alert-w-small {
  width: 511px;
  height: 316px;
}

.alert-title {
  font-family: Nunito;
  font-size: 24px;
  padding-top: 20px;
  line-height: 32px;
}
.alert-text-large {
  width: 500px;
}
.alert-message p {
  margin-bottom: 70px;
  margin-right: 45px;
}

#sub-container-projects-images div .small {
  float: left;
  width: 599px;
  height: 464px;
}

.bg-gradient {
  background: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
}
.bg-black {
  background-color: var(--background);
}
#bg-image {
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-image: url("../src/assets/img/background.png");
  background-size: cover;
  content: "";
  width: 100%;
  height: 700px;
}
.socials {
  align-self: center;
}
.socials a {
  font-size: 20px;
  color: var(--white);
  text-decoration: none;
  margin: 0px 10px;
}
.socials a:hover {
  color: var(--button-background);
}
#footer-logo {
  display: flex;
}
.header-logo {
  align-self: center;
}
.header-logo img {
  width: 50px;
}

h1,
h2 {
  font-family: Nunito;
}
h3 {
  font-size: 32px;
  margin: 20px 0px;
  font-family: Lora;
  font-weight: normal;
}
h1 {
  font-weight: 700;
  font-size: 64px;
  margin: 4px 0px;
}
h2 {
  font-size: 40px;
  margin: 20px 0px;
}

.text-white {
  color: var(--white);
}
.descriptions {
  color: var(--paragraph);
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

/* Contacts Form */
#contacts,
#services,
#testimonials {
  padding: 2.5em 0em;
}
.form-contacts {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  width: 546px;
  padding: 0px 48px 48px;
  margin: auto;
}
[type="text"],
[type="email"] {
  font-family: Lora;
  font-size: large;
  padding-left: 10px;
}
#contacts form input {
  margin: 5px 0px;
  width: auto;
  height: 48px;
}
#form-message {
  height: 150px !important;
  justify-content: flex-start;
  resize: none;
  padding-top: 10px;
  margin: 5px 0px;
}
#contacts h1 {
  color: var(--white);
}

/* Buttons */
.btn {
  color: var(--button-background);
  background: transparent;
  border: solid var(--button-background) 2px;
  padding: 10px;
  height: 48px;
  margin: 0px 5px;
  font-size: 16px;
}
.btn-orange {
  color: var(--white);
  border: none;
  background-color: var(--button-background);
}

/* Menus */
.container-menu {
  display: flex;
  padding-left: 20px;
}
.container-menu li {
  list-style: none;
  margin: 15px;
}
.container-menu li a {
  text-decoration: none;
  font-size: 20px;
  color: var(--white);
}
.container-menu li a:hover {
  color: var(--secundary);
  border-bottom: 2px solid var(--secundary);
  padding-bottom: 2px;
}

/* Testimonials and Services */
#testimonials,
#services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
}
/* .testimonials{
  background-color: #e53170;
} */
.testimonials,
.services {
  width: 391.33px;
  float: left;
  margin: 10px 15px 0px 0px;
  padding-bottom: 48px;

  /* padding-left: 16px;
  padding-right: 16px; */
}
.testimonials div h4 {
  color: var(--secundary);
}
.testimonials div img {
  margin: 0 5px;
}
.testimonials p {
  color: var(--white);
  font-size: 24px;
  line-height: 40px;
  height: auto;
  margin: 0 5px;
}

.container {
  /* margin: 80px 72px; */
  margin: 0px 72px;
  height: auto;
}
.testimonial-head {
  display: flex;
  margin-bottom: 16px;
  margin-top: 10px;
  align-items: center;
}

/* services */
.services {
  width: 391px;
  padding-top: unset;
}
.services ul {
  padding: 0;
}
.services ul a {
  text-decoration: none;
  color: var(--background);
}
.services ul a:hover {
  color: var(--primary);
}
.services ul li {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  list-style: none;
  width: 391px;
  height: 40px;
  align-self: stretch;
  margin: 24px 0px;
}
.more-services {
  background-color: var(--background);
  color: var(--button-background);
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  font-family: Nunito;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
.more-services span {
  margin-left: 5px;
}
/* wrapper */
.wrapper {
  max-width: 1366px;
  margin: 0 auto;
}

#main-content p {
  width: 660px;
  font-size: 24px;
}

#main-image img {
  margin: auto;
  width: 495px;
  height: 462px;
}
#arrow-down {
  color: var(--button-background);
  font-size: 56px;
  font-weight: normal;
}
#arrow-down {
  margin-top: 50px;
}
.flex {
  display: flex;
  /* justify-content: space-between; */
  /* background-color: aqua; */
}
.border-orange {
  border: var(--button-background) solid 2px;
}
